#header h1.title { /* generic title text specs */
    font-style: normal;
    font-variant: small-caps;
}

#header p.author, #header p.date { /* generic author & date text specs */
    text-transform: lowercase;
    font-variant: small-caps;
}

#about-this-book h1 {
    font-style: inherit;
}

.book.font-family-1 h1 {
    font-family: calluna-sans, sans-serif;
}

h1 {
    font-style: italic;
    font-weight: 400;
    border: none;
    line-height: inherit;
    padding-bottom: inherit;
    text-transform: none;
    font-variant: normal;
    letter-spacing: inherit;
}

h1 em, h1 i {
	font-style: normal;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
	font-size: 1em;
}

h1 .header-section-number {
    display: initial;
    font-size: inherit;
    font-style: normal;
    font-weight: 700;
    padding-right: .5em;
}

h1 + p::first-line, h2 + p::first-line {
    text-transform: none;
    font-variant: normal;
    letter-spacing: inherit;
}