h1 {
  font-style: italic;
  font-weight: 400;
}

h1 em, h1 i {
	font-style: normal;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
	font-size: 1em;
}

h1 .header-section-number {
  font-style: normal;
  font-weight: 700;
}